<div class="p-3 mb-2" style="width: 100%; min-height: 100%;">
    <div class="col d-flex justify-content-center">
      <div class="card border-primary mb-3" style="max-width: 20rem;" id="telalogin">
        <div class="card-body">
    
          <div class="form-group">
            <label for="string"><b>String Test</b></label> 
            
            <input type="text"  class="form-control" id="string"(ngModel)="string"(change)="send_string($event.target)">
          </div>
          <button type="button" class="btn btn-outline-primary" (click)="send_string(string)">Enviar</button>
        </div>
        <div>
          <tr *ngFor="let response of Response | async">
            <td>String enviada: {{response.string}}</td>
            <td>Letra Encontrada: {{response.vogal}}</td>
            <td>Tempo: {{response.tempototal}}</td>
        </div>
      </div>
    </div>
    </div>
